name: qqread_iosrule

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '*/20 * * * *'
  watch:
    types: [started]
  repository_dispatch:
    types: qqread

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout fq3/github_iosrule-hub_Gongzhonghao-iosrule
        uses: actions/checkout@v2
        with:
          repository: fq3/github_iosrule-hub_Gongzhonghao-iosrule
          ref: main
          path: scripts

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install requirements
        run: |
          cd scripts
          pip install -r ./qqread/requirements.txt
      - name: Run Job
        run: |
          cd scripts
          python3 ./qqread/qqread.py
        env:
          DJJ_BARK_COOKIE: ${{ secrets.DJJ_BARK_COOKIE }}
          DJJ_SEVER_JIANG: ${{ secrets.DJJ_SEVER_JIANG }}
          QQ_READ_COOKIE: ${{ secrets.QQ_READ_COOKIE }}
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          BARK_PUSH: ${{ secrets.BARK_PUSH }}
          BARK_SOUND: ${{ secrets.BARK_SOUND }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}